
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
@{
    Response.AppendHeader("Cache-Control", "no-cache,no-store,must-revalidate");
    Response.AppendHeader("Pragma", "no-cache");
    Response.AppendHeader("Expires", "0");
}
<style>
    #bodybg {
        height: 100%;
        background-size: cover;
        background-image: url("../../Images/UNTLogo.jpg");
    }
</style>
<div class="jumbotron" style="margin-top: 5%;background-color: rgba(233, 236, 239,0.8)">
    <h1 class="display-4">Online Question Paper Generator</h1>
    <p class="lead">Developed by: Techies During Summer 2021</p>
    <hr class="my-4">
    <p>
        Question paper generator application is made following MVC (Model View Controller) in ASP.NET and C#. We have added the functionality to Add new Examiners and assign subjects to examiner, For examiner side we add functionality like creating question paper and managing the profile.
    </p>
</div>
